certifi==2026.7.22
charset-normalizer==3.5.1
dnspython==1.16.0
eventlet==0.30.2
greenlet==3.2.5
idna==3.19
msgpack==1.1.2
netaddr==1.3.0
oslo-config==10.0.0
oslo-i18n==6.6.0
ovs==4.0.0
packaging==26.3
pbr==7.0.3
pyyaml==6.0.3
repoze.lru==0.7
requests==2.32.5
rfc3986==2.0.0
Routes==2.5.1
ryu==4.34
six==1.17.0
sortedcontainers==2.4.0
stevedore==5.5.0
tinyrpc==1.1.7
urllib3==2.6.3
webob==1.8.11
